<div id = "conteiner">
<div id="module-container">
  <div id="moduledisplay">
  <button onclick="displayProviders('content_module')" class="module-button">Content_module</button>
  <button onclick="displayProviders('auth_module')" class="module-button">Auth_module</button>
</div>
</div>

<div id = "conteiner2">
<div id="provider-container">
</div>

<p id="user-count">Number of Users: 0</p>

<div class="user-list">
  
  <ul id="user-list"></ul>
</div>
<div class="action-buttons">
  <button class="delete-button">Delete <img src="../assets/icons/trashcan.png" /> </button>
  <button class="advice-button">Advice <img src="../assets/icons/lightbulb.png" /> </button>
  <button class="create-button"><img src="../assets/icons/create.png" />  Create</button>
  <button class="submit-button">Submit <img src="../assets/icons/submit.png" /> </button>
</div>

</div>
</div>

